.layout-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #2a2a2a;
  color: white;
  padding: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
  background: #f3f3f3;
}
.layout-wrapper {
  display: flex;
}

.main-content {
  margin-top: 70px;
  padding: 20px;
  width: 100%;
}